NODE_ENV="development | production"
BASE_URL="http://api.mokhtasr.app"
JWT_SECRET="STRONG_PASS_KEY"
COOKIES_SECRET="STRONG_PASS_KEY"
DATABASE_URL="DATABASE_ACCESS_URL"
USE_RANDOM_OTP="YES | NO"
TWILIO_ACCOUNT_SID="TWILIO_ACCOUNT_SID"
TWILIO_CONTENT_SID="TWILIO_CONTENT_SID"
TWILIO_AUTH_TOKEN="TWILIO_AUTH_TOKEN"
