# ============================================
# Core Application Configuration
# ============================================
PORT=3000
NODE_ENV="development | production"
LOG_REQUESTS="true"

# ============================================
# Security & Secrets
# ============================================
JWT_SECRET="STRONG_PASS_KEY"
COOKIES_SECRET="STRONG_PASS_KEY"

# ============================================
# Database
# ============================================
DATABASE_URL="DATABASE_CONNECTION_STRING"

# ============================================
# Twilio API
# ============================================
S3_ENDPOINT="https://t3.storage.dev"
S3_ACCESS_KEY_ID="tid_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
S3_SECRET_ACCESS_KEY="tsec_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
S3_BUCKET="user-XXXXXXXXXXXXXXXXXXXXXXXX"

# ============================================
# Twilio API
# ============================================
TWILIO_ACCOUNT_SID="TWILIO_ACCOUNT_SID"
TWILIO_CONTENT_SID="TWILIO_CONTENT_SID"
TWILIO_AUTH_TOKEN="TWILIO_AUTH_TOKEN"
